server/n8n_workflows/agent_brain.json
{
    "name": "Smart Analyst Brain",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                240
            ],
            "webhookId": "agent"
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "prompt": "={{ $json.prompt }}",
                "systemMessage": "You are a helpful Data Analyst assistant. You answer questions about business metrics concisely."
            },
            "id": "ai-agent",
            "name": "AI Analyst",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                680,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3000/api/chat/webhook",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "insightId",
                            "value": "={{ $('Webhook').item.json.insightId }}"
                        },
                        {
                            "name": "answer",
                            "value": "={{ $json.output }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-callback",
            "name": "Send Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                240
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Analyst",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Analyst": {
            "main": [
                [
                    {
                        "node": "Send Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}